on:
  push:

  # trigger when starred
  watch:
    types: [started]  
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - run: gradle build -b plain.gradle.kts
      env:
        USERNAME: token
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
